<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amazon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>

    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">AMAZON BOOK</span>
    </div>
    <div class="row p-1 float-left">
        <div class="col-12 width">
            <h1 class="text-center">Categories</h1>
            <vc:navigation-menu />
        </div>
    </div>
        @RenderBody()

</body>
</html>
